{% import "macros.html" as macros %} {% extends "root.html" %} {% block head %}
<title>{{ profile.username }} - {{ config.name }}</title>
{% endblock %} {% block body %} {{ macros::nav() }}
<article>
    <div class="content_container flex flex-col gap-4">
        {{ components::banner(username=profile.username) }}

        <div class="w-full flex gap-4 flex-collapse">
            <div
                class="lhs flex flex-col gap-2 sm:w-full"
                style="min-width: 20rem"
            >
                <div class="card-nest w-full">
                    <div class="card flex gap-2" id="user_avatar_and_name">
                        {{
                        components::avatar(username=profile.username,size="72px")
                        }}
                        <div class="flex flex-col">
                            <!-- prettier-ignore -->
                            <h3 id="username" class="username">
                                {{ components::username(user=profile) }}

                                {% if profile.is_verified %}
                                <span title="Verified">
                                    {{ icon "badge-check" }}
                                </span>
                                {% endif %}
                            </h3>

                            <span class="fade">{{ profile.username }}</span>
                        </div>
                    </div>

                    <div class="card flex flex-col gap-2" id="social">
                        <div class="w-full flex">
                            <a
                                href="/user/{{ profile.username }}/followers"
                                class="w-full flex justify-center items-center gap-2"
                            >
                                <h4>{{ profile.follower_count }}</h4>
                                <span>{{ text "auth:label.followers" }}</span>
                            </a>
                            <a
                                href="/user/{{ profile.username }}/following"
                                class="w-full flex justify-center items-center gap-2"
                            >
                                <h4>{{ profile.following_count }}</h4>
                                <span>{{ text "auth:label.following" }}</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-nest flex flex-col">
                    <div id="bio" class="card small">
                        {{ profile.settings.biography|markdown|safe }}
                    </div>

                    <div class="card flex flex-col gap-2">
                        <div class="w-full flex justify-between items-center">
                            <span class="notification chip">ID</span>
                            <button
                                title="Copy"
                                onclick="trigger('atto::copy_text', ['{{ profile.id }}'])"
                                class="camo small"
                            >
                                {{ icon "copy" }}
                            </button>
                        </div>

                        <div class="w-full flex justify-between items-center">
                            <span class="notification chip">Joined</span>
                            <span class="date">{{ profile.created }}</span>
                        </div>
                    </div>
                </div>

                {% if not is_self %}
                <div class="card-nest">
                    <div class="card small">
                        <b>{{ text "auth:label.relationship" }}</b>
                    </div>

                    <div class="card flex gap-2 flex-wrap">
                        {% if not is_blocking %} {% if not is_following %}
                        <button onclick="toggle_follow_user()">
                            {{ icon "user-plus" }}
                            <span>{{ text "auto:action.follow" }}</span>
                        </button>
                        {% else %}
                        <button
                            onclick="toggle_follow_user()"
                            class="quaternary red"
                        >
                            {{ icon "user-minus" }}
                            <span>{{ text "auto:action.unfollow" }}</span>
                        </button>
                        {% endif %}

                        <button
                            onclick="toggle_block_user()"
                            class="quaternary red"
                        >
                            {{ icon "shield" }}
                            <span>{{ text "auto:action.block" }}</span>
                        </button>
                        {% else %}
                        <button
                            onclick="toggle_block_user()"
                            class="quaternary red"
                        >
                            {{ icon "shield-off" }}
                            <span>{{ text "auto:action.unblock" }}</span>
                        </button>
                        {% endif %}

                        <script>
                            globalThis.toggle_follow_user = () => {
                                fetch(
                                    "/api/v1/auth/profile/{{ profile.id }}/follow",
                                    {
                                        method: "POST",
                                    },
                                )
                                    .then((res) => res.json())
                                    .then((res) => {
                                        trigger("atto::toast", [
                                            res.ok ? "success" : "error",
                                            res.message,
                                        ]);
                                    });
                            };

                            globalThis.toggle_block_user = async () => {
                                if (
                                    !(await trigger("atto::confirm", [
                                        "Are you sure you would like to do this?",
                                    ]))
                                ) {
                                    return;
                                }

                                fetch(
                                    "/api/v1/auth/profile/{{ profile.id }}/block",
                                    {
                                        method: "POST",
                                    },
                                )
                                    .then((res) => res.json())
                                    .then((res) => {
                                        trigger("atto::toast", [
                                            res.ok ? "success" : "error",
                                            res.message,
                                        ]);
                                    });
                            };
                        </script>
                    </div>
                </div>
                {% endif %}

                <div class="card-nest">
                    <div class="card small flex gap-2 items-center">
                        {{ icon "users-round" }}
                        <span>{{ text "auth:label.joined_communities" }}</span>
                    </div>

                    <div class="card flex flex-wrap gap-2">
                        {% for community in communities %}
                        <a href="/community/{{ community.title }}">
                            {{ components::community_avatar(id=community.id,
                            community=community, size="48px") }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="rhs w-full">{% block content %}{% endblock %}</div>
        </div>
    </div>
</article>
{% endblock %}
