{% import "macros.html" as macros %} {% extends "profile/base.html" %} {% block
content %} {% if pinned|length != 0 %}
<div class="card-nest">
    <div class="card small flex gap-2 items-center">
        {{ icon "pin" }}
        <span>{{ text "communities:label.pinned" }}</span>
    </div>

    <div class="card flex flex-col gap-4">
        <!-- prettier-ignore -->
        {% for post in pinned %}
            {{ components::post(post=post[0], owner=post[1], secondary=true, community=post[2], show_community=true, can_manage_post=is_self) }}
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="card-nest">
    <div class="card small flex gap-2 items-center">
        {{ icon "clock" }}
        <span>{{ text "auth:label.recent_posts" }}</span>
    </div>

    <div class="card flex flex-col gap-4">
        <!-- prettier-ignore -->
        {% for post in posts %}
            {{ components::post(post=post[0], owner=post[1], secondary=true, community=post[2], show_community=true, can_manage_post=is_self) }}
        {% endfor %}

        {{ components::pagination(page=page, items=posts|length) }}
    </div>
</div>
{% endblock %}
