{% extends "root.html" %} {% block head %}
<title>{{ profile.username }} (private profile) - {{ config.name }}</title>
{% endblock %} {% block body %} {{ macros::nav() }}
<main class="flex flex-col gap-2">
    <div class="card-nest">
        <div class="card small flex items-center justify-between gap-2">
            <div class="flex items-center gap-2">
                {{ components::avatar(username=profile.username, size="24px") }}
                <span>{{ profile.username }}</span>
            </div>

            <b class="notification chip"
                >{{ text "auth:label.private_profile" }}</b
            >
        </div>

        <div class="card flex flex-col gap-2">
            <span>{{ text "auth:label.private_profile_message" }}</span>

            <div class="card w-full secondary flex gap-2">
                {% if user %} {% if not is_following %}
                <button
                    onclick="toggle_follow_user(event)"
                    class="{% if follow_requested %} hidden{% endif %}"
                    atto_tag="user.follow_request"
                >
                    {{ icon "user-plus" }}
                    <span>{{ text "auth:action.request_to_follow" }}</span>
                </button>

                <button
                    onclick="cancel_follow_user(event)"
                    class="quaternary red{% if not follow_requested %} hidden{% endif %}"
                    atto_tag="user.cancel_request"
                >
                    {{ icon "user-minus" }}
                    <span>{{ text "auth:action.cancel_follow_request" }}</span>
                </button>
                {% else %}
                <button
                    onclick="toggle_follow_user(event)"
                    class="quaternary red"
                    atto_tag="user.unfollow"
                >
                    {{ icon "user-minus" }}
                    <span>{{ text "auth:action.unfollow" }}</span>
                </button>
                {% endif %}

                <script>
                    globalThis.toggle_follow_user = async (e) => {
                        await trigger("atto::debounce", ["users::follow"]);
                        fetch("/api/v1/auth/user/{{ profile.id }}/follow", {
                            method: "POST",
                        })
                            .then((res) => res.json())
                            .then((res) => {
                                trigger("atto::toast", [
                                    res.ok ? "success" : "error",
                                    res.message,
                                ]);

                                if (
                                    e.target.getAttribute("atto_tag") ===
                                    "user.follow_request"
                                ) {
                                    document
                                        .querySelector(
                                            '[atto_tag="user.follow_request"]',
                                        )
                                        .classList.add("hidden");

                                    document
                                        .querySelector(
                                            '[atto_tag="user.cancel_request"]',
                                        )
                                        .classList.remove("hidden");
                                } else {
                                    window.location.reload();
                                }
                            });
                    };

                    globalThis.cancel_follow_user = async (e) => {
                        await trigger("atto::debounce", ["users::follow"]);

                        if (
                            !(await trigger("atto::confirm", [
                                "Are you sure you would like to do this?",
                            ]))
                        ) {
                            return;
                        }

                        fetch(
                            "/api/v1/auth/user/{{ profile.id }}/follow/cancel",
                            {
                                method: "POST",
                            },
                        )
                            .then((res) => res.json())
                            .then((res) => {
                                trigger("atto::toast", [
                                    res.ok ? "success" : "error",
                                    res.message,
                                ]);

                                document
                                    .querySelector(
                                        '[atto_tag="user.cancel_request"]',
                                    )
                                    .classList.add("hidden");
                                document
                                    .querySelector(
                                        '[atto_tag="user.follow_request"]',
                                    )
                                    .classList.remove("hidden");
                            });
                    };
                </script>
                {% endif %}

                <a href="/" class="button red quaternary">
                    {{ icon "x" }}
                    <span>{{ text "general:action.back" }}</span>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
