{% extends "auth/base.html" %} {% block head %}
<title>Login</title>
{% endblock %} {% block title %}Login{% endblock %} {% block content %}
<form class="w-full flex flex-col gap-4">
    <div class="flex flex-col gap-1">
        <label for="username"><b>Username</b></label>
        <input
            type="text"
            placeholder="username"
            required
            name="username"
            id="username"
        />
    </div>

    <div class="flex flex-col gap-1">
        <label for="username"><b>Password</b></label>
        <input
            type="password"
            placeholder="password"
            required
            name="password"
            id="password"
        />
    </div>

    <button>Submit</button>
</form>
{% endblock %} {% block footer %}
<span class="small w-full text-center"
    >Or, <a href="/auth/register">register</a></span
>
{% endblock %}
