{% extends "_atto/root.html" %} {% block body %}
<nav>
    <div class="content_container">
        <div class="flex nav_side">
            <a href="/" class="button desktop title">
                <b>{{ name }}</b>
            </a>

            <a href="/" class="button active">Home</a>
        </div>

        <div class="flex nav_side">
            <a href="/_atto/login" class="button">Login</a>
            <a href="/_atto/register" class="button">Register</a>
        </div>
    </div>
</nav>

<main class="flex flex-col gap-2">
    <h1>Hello, world!</h1>

    <div class="pillmenu">
        <a class="active" href="#">A</a>
        <a href="#">B</a>
        <a href="#">C</a>
    </div>

    <div class="card w-full flex flex-col gap-2">
        <div class="flex gap-2 flex-wrap">
            <button>Hello, world!</button>
            <button class="secondary">Hello, world!</button>
            <button class="camo">Hello, world!</button>
        </div>

        <input type="text" placeholder="abcd" />
    </div>
</main>
{% endblock %}
